<!DOCTYPE html>
<html lang="" data-ng-app="AngularAppModule">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body class="container">
    <div data-ng-controller="ClienteController as cliente">
        <!--AQUINOS SETAMOS A VARIAVEIS DE INICIALIZAÇÃO
        PODEMOS INFORMA-LAS DENTRO DE UM NG-INIT OU DENTRO DO PROPRIO SCOPE-->
        <span data-ng-init="predicate = 'Id'; reserveOrderBy = true; predicateProduto = 'Valor';reverse = true"></span>
        <h1 class="text-center">{{cliente.titulo}}</h1>


        <section>
            <h5 class="text-uppercase">Adicione Novos Clientes:</h3>
                <div class="row">
                    <div class=col-md-6>
                        <label>Nome:</label>
                        <input type="text" data-ng-model="cliente.form.Nome" placeholder="Insira o Nome do Cliente" class="form-control">
                    </div>
                    <div class=col-md-6>
                        <label>Email</label>
                        <input type="email" data-ng-model="cliente.form.Email" placeholder="Insira o E-Mail do Cliente" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-large waves-effect waves-light col s12" data-ng-click="cliente.AdicionarCliente(cliente.form)">Adicionar Cliente</button>
                    </div>
                </div>
        </section>

        <section class="row">
            <div class="col-md-12">
                <input type="text" name="" id="input1/(\w+)/\u\1/g" class="form-control" placeholder="Insira um item para a busca" data-ng-model="buscaCliente">
            </div>
        </section>

        <section class="row">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th data-ng-repeat="(key, value) in cliente.listaClientes[0]" data-ng-bind="key | uppercase"></th>
                        <th>REMOVER</th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat="clienteItem in cliente.listaClientes | orderBy:fieldOrder | filter: buscaCliente">
                        <td data-ng-repeat="(key, value) in clienteItem" data-ng-bind="value"></td>
                        <td>
                            <button class="btn btn-large red waves-effect waves-light col s8" type="button" data-ng-click="cliente.RemoverCliente(clienteItem.Id)">Remover</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

    </div>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <!--ANGULAR-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="scripts/app-5.js"></script>

</body>

</html>